html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Index
    body
      ul
        each chargingPoint, evseId in listing
          li
            a(href='/evseId/' + evseId)= chargingPoint.hotel.title
