html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous")
    link(href="/styles/base.css" rel="stylesheet")
    link(href="/styles/" + identifier + ".css" rel="stylesheet")
    script(src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.js")
    script(src="/js/script.js")

    title= title
    body
      nav.navbar
        .container
          a.navbar-brand(href="#")
            img.d-inline-block-align-top(src="/images/" + identifier + ".png" alt="" width="32" height="32")
            = title

      #map

      .container
        h1 Charge. Pay. Done.
          span.wirelane by Wirelane

        p Easily charge your car for <strong>€0.38/kWh without starting fee</strong>. The charges will occur on your hotel invoice upon checkout.
        br

        .alert.alert-danger(role="alert") The combination of room number and date of birth is invalid. If you need assistance or feel this is a mistake, please <a class="alert-link" href="tel:0123456789">call 0123456789</a>.

        form
          .mb-3
            label.form-label(for="inputRoomNumber") Room Number
            input#inputRoomNumber.form-control(type="number" pattern="[0-9]*" aria-describedby="roomNumberHelp")
            #roomNumberHelp.form-text The number of the room you're residing in.

          .mb-3
            label.form-label(for="inputDoB") Date of Birth
            input#inputDoB.form-control(type="date" aria-describedby="dobHelp")
            #dobHelp.form-text This information is not stored but used to verify your authenticity.

          .mb-3.form-check
            input#tocCheck.form-check-input(type="checkbox")
            label.form-check-label(for="tocCheck") I accept the <a href="#">Terms and Conditions</a> and the <a href="#">Data Privacy Agreement</a>.

          button.btn.btn-primary(type="submit") Start Charging
