@font-face {
  font-family: KarbonLight;
  src: url(../fonts/KarbonWeb-Light.woff2);
}

body {
  font-family: KarbonLight;
  background-color: black;
  color: white;
}

.navbar {
  background-color: black !important;
  color: #ffec2d !important;
}

a {
  color: #ffec2d;
}

a:hover {
  color: white;
}

.btn-primary, .btn-primary:hover {
  background-color: #ffec2d;
  border-color: #ffec2d;
  color: black;
}

@keyframes color_change {
	from { color: white; }
	to { color: #ffec2d; }
}
